@model CoachesIndexViewModel
@{
    ViewData["Title"] = "Coaches Page";
}

@section css{
    <link href="~/assets/admin/plugins/custom/datatables/datatables.bundle.rtl.css" rel="stylesheet" />
}


<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2023-01-30-131017/core/html/src/media/icons/duotune/communication/com014.svg-->
                <span class="svg-icon svg-icon-muted svg-icon-2hx">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.0173 9H15.3945C14.2833 9 13.263 9.61425 12.7431 10.5963L12.154 11.7091C12.0645 11.8781 12.1072 12.0868 12.2559 12.2071L12.6402 12.5183C13.2631 13.0225 13.7556 13.6691 14.0764 14.4035L14.2321 14.7601C14.2957 14.9058 14.4396 15 14.5987 15H18.6747C19.7297 15 20.4057 13.8774 19.912 12.945L18.6686 10.5963C18.1487 9.61425 17.1285 9 16.0173 9Z" fill="currentColor" />
                        <rect opacity="0.3" x="14" y="4" width="4" height="4" rx="2" fill="currentColor" />
                        <path d="M4.65486 14.8559C5.40389 13.1224 7.11161 12 9 12C10.8884 12 12.5961 13.1224 13.3451 14.8559L14.793 18.2067C15.3636 19.5271 14.3955 21 12.9571 21H5.04292C3.60453 21 2.63644 19.5271 3.20698 18.2067L4.65486 14.8559Z" fill="currentColor" />
                        <rect opacity="0.3" x="6" y="5" width="6" height="6" rx="3" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </div>
        </div>
        <!--begin::Content-->
        <div class="d-flex flex-column pe-0 pe-sm-10">
            <h5 class="mb-1">المدربين</h5>
        </div>
        <!--end::Content-->
    </div>
    <div>
        <a asp-action="Create" class="btn btn-sm btn-primary">
            <i class="bi bi-plus-square-dotted"></i>
            اضافة
        </a>
    </div>
</div>


<div class="card shadow-sm">

    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
                <span class="svg-icon svg-icon-1 position-absolute ms-4">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                    </svg>

                </span>
                <input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="بحث" />
            </div>
            <div id="kt_datatable_example_1_export" class="d-none"></div>
        </div>
       @* <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                
                تصدير
            </button>
            <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="copy">
                        Copy to clipboard
                    </a>
                </div>
               
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="excel">
                        Export as Excel
                    </a>
                </div>
             
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="csv">
                        Export as CSV
                    </a>
                </div>
              
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="pdf">
                        Export as PDF
                    </a>
                </div>
            </div>
         
            <div id="kt_datatable_example_buttons" class="d-none"></div>
        </div>*@
          
         
            
    </div>


    <div class="card-body">

        @if (!Model.Coaches.Any())
        {
            <div class="alert alert-dismissible bg-light-warning border border-danger border-dashed d-flex flex-column flex-sm-row w-100 p-5 mb-10 ">
                <!--begin::Icon-->
                <!--begin::Svg Icon | path: icons/duotune/communication/com003.svg-->
                <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2023-01-26-051612/core/html/src/media/icons/duotune/general/gen044.svg-->
                <span class="svg-icon  svg-icon-2hx svg-icon-warning">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
                        <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor" />
                        <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->                  <!--end::Icon-->
                <!--begin::Content-->
                <div class="d-flex flex-column pe-0 pe-sm-10 align-self-center ms-3">
                    <h4 class="fw-semibold">لم يتم اضافة بيانات بعد</h4>
                </div>
                <!--end::Content-->

            </div>

        }
        else
        {
            <div class="table-responsive">
                <table id="kt_datatable_example" class="table table-row-dashed table-row-gray-300 gy-7">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th class="text-start">الصورة الرئيسية</th>
                            <th class="text-start">الاسم</th>
                            <th class="text-start">البريد الالكتروني</th>
                            <th class="text-start">الحالة</th>
                            <th class="text-start">تاريخ الاضافة</th>
                            <th class="text-start">العملية</th>
                        </tr>
                    </thead>
                    <tbody id="modalTableBody">
                        @foreach (var coach in Model.Coaches)
                        {
                            <partial name="_CoachRow" model="coach"></partial>
                        }
                    </tbody>
                </table>
            </div>

        }

    </div>

</div>


@section Scripts{
    <script src="~/assets/admin/plugins/custom/datatables/datatables.bundle.js"></script>

    
    <script defer>

       
        document.querySelector('body').addEventListener('click', function (event) {
            if (event.target.classList.contains('js-toggle-btn')) {
                event.preventDefault();
                let id = event.target.dataset.id;

                Swal.fire({
                    title: 'هل انت متأكد ؟',
                    text: "هل انت متأكد من تغيير حالة المدرب ؟",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'نعم,متأكد',
                    cancelButtonText: 'الغاء',
                }).then((result) => {
                    if (result.isConfirmed) {
                        ToggleStatus(id);

                    }
                })
            }
        });



        document.querySelector('body').addEventListener('click', function (e) {

            if (event.target.classList.contains('js-delete-btn')) {
                e.preventDefault();

                let id = event.target.dataset.id;

                Swal.fire({
                    title: 'هل انت متأكد من حذف المدرب ؟',
                    text: "سيتم حذف جميع البيانات المتعلقة به ايضا",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'نعم,متأكد',
                    cancelButtonText: 'الغاء',
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.querySelector(`#js-deleteCoachForm-${id}`).submit();
                    }
                })

            }


        });

        function ToggleStatus(id) {
            fetch(`/Admin/Coaches/ToggleStatus/${id}`, {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',

                },

            }).then(res => res.json()).then(data => {
                console.log(data);
                showToastrInfoMessage('تم تحديث الحالة بنجاح !')
                UpdateStatusSpan(data);

            })
                .catch(err => {
                    console.log(err);
                    showToastrErrorMessage();
                });
        }


        function UpdateStatusSpan(response) {
            let rowToUpdate = document.querySelector(`.js-row-${response.id}`);
            let spanToUpdate = rowToUpdate.children.item(3).querySelector('span');
            if (!response.isActive) {
                spanToUpdate.classList.remove('badge-light-success');
                spanToUpdate.classList.add('badge-light-danger');
                spanToUpdate.textContent = 'غير نشط';
            } else {
                spanToUpdate.classList.remove('badge-light-danger');
                spanToUpdate.classList.add('badge-light-success');
                spanToUpdate.textContent = 'نشط';

            }
            ApplyRowAnimation(rowToUpdate);

        }

    </script>



    <script>

        // Class definition
        var KTDatatable = function () {
            // Shared variables
            var table;
            var datatable;

            // Private functions
            var initDatatable = function () {
                // Set date data order
                const tableRows = table.querySelectorAll('tbody tr');

                tableRows.forEach(row => {
                    const dateRow = row.querySelectorAll('td');
                    const realDate = moment(dateRow[3].innerHTML, "DD MMM YYYY, LT").format(); // select date from 4th column in table
                    dateRow[3].setAttribute('data-order', realDate);
                });

                // Init datatable --- more info on datatables: https://datatables.net/manual/
                datatable = $(table).DataTable({
                    "info": false,
                    'order': [],
                    'pageLength': 10,
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/ar.json'
                    }
                });
            }

            // Hook export buttons
            var exportButtons = () => {
                const documentTitle = 'Customer Orders Report';
                var buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: [
                        {
                            extend: 'copyHtml5',
                            title: documentTitle
                        },
                        {
                            extend: 'excelHtml5',
                            title: documentTitle
                        },
                        {
                            extend: 'csvHtml5',
                            title: documentTitle
                        },
                        {
                            extend: 'pdfHtml5',
                            title: documentTitle
                        }
                    ]
                }).container().appendTo($('#kt_datatable_example_buttons'));

                // Hook dropdown menu click event to datatable export buttons
                const exportButtons = document.querySelectorAll('#kt_datatable_example_export_menu [data-kt-export]');
                exportButtons.forEach(exportButton => {
                    exportButton.addEventListener('click', e => {
                        e.preventDefault();

                        // Get clicked export value
                        const exportValue = e.target.getAttribute('data-kt-export');
                        const target = document.querySelector('.dt-buttons .buttons-' + exportValue);

                        // Trigger click event on hidden datatable export buttons
                        target.click();
                    });
                });
            }

            // Search Datatable --- official docs reference: https://datatables.net/reference/api/search()
            var handleSearchDatatable = () => {
                const filterSearch = document.querySelector('[data-kt-filter="search"]');
                filterSearch.addEventListener('keyup', function (e) {
                    datatable.search(e.target.value).draw();
                });
            }

            // Public methods
            return {
                init: function () {
                    table = document.querySelector('#kt_datatable_example');

                    if (!table) {
                        return;
                    }

                    initDatatable();
                    exportButtons();
                    handleSearchDatatable();
                }
            };
        }();


        $(document).ready(function () {
            KTUtil.onDOMContentLoaded(function () {
                KTDatatable.init();
            });
        });
    </script>



}
